
html{
    font-size: 16px;
}
.section{
    width: 100%;
    padding: 10px 0px;
    background-color: white;
    box-shadow: 0 -2px 10px 0 rgba(0,0,0,.15);
    z-index:3;
}
a{  font-size: 16px;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
    color: #747474;
    margin: 0;
    
}
nav{ 
    max-width: 1015px;
    margin: 0 auto;
    padding: 0px 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 li {
    display: inline;
    padding:10px;
    list-style: none;
    font-size:15px;
}


h1{
    text-align: center;
    font-size: 2.125rem;
    color: #00b39b;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    letter-spacing:-.3px;
}